@import "content.css";
@import "searchbar.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', serif;
    background-color: #f1f2f6;
}

main {
    width: 90%;
    max-width: 800px;
    margin: 32px auto;
}

h3{
    color: white;
}

footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  margin-top: 15px;
}

footer span {
    margin: 10px;
}
